body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    /* padding-top: 6rem; */

    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.post_title {
    font-size: 2rem;
    color: var(--blue);
    font-weight: 600;
    margin-top: 8rem;
}

.container-post-job {
    max-width: 800px;
    margin: 3rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #efefbb;
    background: -webkit-linear-gradient(to top, #d4d3dd, #efefbb);
    background: linear-gradient(to top, #d4d3dd, #efefbb);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
select,
textarea,
input[type="file"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
