body {
    font-family: Arial, sans-serif;
    background-color: var(--low-gray);
    background: var(--light);
}
.post_title {
    font-size: 2rem;
    color: var(--blue);
    font-weight: 600;
    margin-top: 8rem;
}

.container-post-job {
    max-width: 800px;
    margin: 3rem auto;
    padding: 20px 40px;
    background-color: var(--low-gray);
    border-radius: 8px;
    box-shadow: inset 5px 5px 5px rgb(163, 177, 198, 0.6),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
select,
textarea,
input[type="file"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--low-gray);
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

input[type="checkbox"] {
    margin-right: 5px;
}

.postSubmit {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.postSubmit:hover {
    background-color: var(--blue);
}
